#
# myvars.env
#
# Conjunto de variáveis de ambiente específicas por usuário.
# Para utilizar corretamente este arquivo, crie uma cópia
# deste arquivo, renomeando-o para myvars.env. De maneira
# obrigatória, preencha as duas variáveis abaixo. Adicione
# mais variáveis se for necessário
#
MYVAR= 
