---
title: "Qual é o seu EDC Mental?"
date: "2021-05-04"
draft: true
path: "/blog/edc-mental"
---
# Qual é o seu EDC mental?

This is my first post for this blog, and 

## H2

### H3

#### H4

##### H5

###### H6

Paragraph

---

> This is a quote

---

[Example.com](example.com)

---

`const foo = bar`

```javascript
const foo = bar
console.log(foo);
```

---

| Hello | World |
|-------|------ |
| Foo   | Bar   |



